<div class="container" ng-app="Edit" ng-controller="getEmployeeById">
    <div class="line">
      <h3>Edit Employee</h3>
    </div>
    <div class="home">
      <div class="container">
        <form class="form-horizontal" ng-controller="putEmployee">
          <div class="form-group">
            <div class="row">
              <div class="col-md-4 text-left">
                <label for="exampleInputName2" style="margin-left: 30px;">Name</label>
              </div>
              <div class="col-md-6">
                <input type="text" class="form-control" value="{{employee.name}}"
                 ng-show="true" required>
              </div>
            </div>
<br>
            <div class="row">
              <div class="col-md-4 text-left">
                <label for="exampleInputName2" style="margin-left: 30px;">Birth Date</label>
              </div>
              <div class="col-md-5">
                <input type="date" class="form-control" id="exampleInputName2" value="{{employee.birthDate}}" placeholder="YYYY-MM-DD" required>
              </div>
            </div>
<br>
            <div class="row">
              <div class="col-md-4 text-left">
                <label for="position" style="margin-left: 30px;">Position</label>
              </div>
              <div class="col-md-6" >
                <select class="form-control" name="position" id="position" ng-model="employee.position.id" >
                  <option ng-repeat="position in positions" value="{{position.id}}">{{position.name}}</option>
                </select>
              </div>
            </div>  
<br>
            <div class="row">
              <div class="col-md-4 text-left">
                <label for="exampleInputName2" style="margin-left: 30px;">NIP</label>
              </div>
              <div class="col-md-6">
                <input type="number" class="form-control" id="exampleInputName2" max="999999999999" value="{{employee.idNumber}}" required>
              </div>
            </div>
<br>
            <div class="row">
              <div class="col-md-4 text-left">
                <label for="exampleInputName2" style="margin-left: 30px;">Gender</label>
              </div>
              <div class="col-md-6" >
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioOptions1" ng-model="employee.gender" ng-value="1" > Men
                </label>
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioOptions2" ng-model="employee.gender" ng-value="2"> Women
                </label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6" style="left: 350px;">
              <a class="btn btn-primary" value="Save" ng-click="putData(employee.id,employee.name,employee.birthDate,employee.position, employee.idNumber, employee.gender)">Save</a>
            </div>
            <div class="col-md-6">
              <a class="btn btn-info" href="#!/view1">Back</a>
            </div>
          </div>
        </form>
      </div>
      
    </div>
    

</div>